html,body{
    margin: 0;
    padding: 0;
    background: radial-gradient( ellipse,#430d6d 0%, #000000 100%);
    height: 100%;
}
.face{
    width: 200px;
    height: 200px;
    background: -webkit-linear-gradient(
            left,
            rgba(54, 226, 248, 0.5) 0px,
            rgba(54, 226, 248, 0.5) 3px,
            rgba(0, 0, 0, 0) 0px),
    -webkit-linear-gradient(
            top,
            rgba(54, 226, 248, 0.5) 0px,
            rgba(54, 226, 248, 0.5) 3px,
            rgba(0, 0, 0, 0) 0px);

    -webkit-background-size: 2.5em 2.5em;
}