.gka-wrap {
    width: 454px;
    height: 342px;
}

.animation {
    width: 454px;
    height: 342px;
    background-size: 10442px 342px;
    background-repeat: no-repeat;
    animation-name: keyframes-test;
    animation-duration: 0.92s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: steps(1);
}

@keyframes keyframes-test {
    0% {
        width: 454px;
        height: 342px;
        background-image: url("./img/sprites.png");
        background-size: 10442px 342px;
    }

    4.35% {
        background-position: -454px 0px;
    }

    8.70% {
        background-position: -908px 0px;
    }

    13.04% {
        background-position: -1362px 0px;
    }

    17.39% {
        background-position: -1816px 0px;
    }

    21.74% {
        background-position: -2270px 0px;
    }

    26.09% {
        background-position: -2724px 0px;
    }

    30.43% {
        background-position: -3178px 0px;
    }

    34.78% {
        background-position: -3632px 0px;
    }

    39.13% {
        background-position: -4086px 0px;
    }

    43.48% {
        background-position: -4540px 0px;
    }

    47.83% {
        background-position: -4994px 0px;
    }

    52.17% {
        background-position: -5448px 0px;
    }

    56.52% {
        background-position: -5902px 0px;
    }

    60.87% {
        background-position: -6356px 0px;
    }

    65.22% {
        background-position: -6810px 0px;
    }

    69.57% {
        background-position: -7264px 0px;
    }

    73.91% {
        background-position: -7718px 0px;
    }

    78.26% {
        background-position: -8172px 0px;
    }

    82.61% {
        background-position: -8626px 0px;
    }

    86.96% {
        background-position: -9080px 0px;
    }

    91.30% {
        background-position: -9534px 0px;
    }

    95.65%,
    100% {
        background-position: -9988px 0px;
    }
}