<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Demo1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="app">
    {{ message }}
</div>
<div id="app-2">
    <!-- v-bind -->
    <span v-bind:title="message">   <!--将这个元素节点的title和vue实例的message保持一致-->
        鼠标悬停几秒钟查看此处动态绑定的提示信息！
    </span>
</div>
<div id="app-3">
    <!-- v-if -->
    <p v-if="seen">it's me</p>  <!--控制一个元素的显示-->
</div>
<div id="app-4">
    <ol>
        <!-- v-for -->
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>
<div id="app-5">
    <p>{{ message }}</p>
    <!-- v-on -->
    <button v-on:click="reverseMessage">reverse</button>
</div>
<div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
</div>
<div id="app-7">
    <ol>
        <todo-item
            v-for="item in groceryList"
            v-bind:todo="item"
            v-bind:key="item.id"></todo-item>
    </ol>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    });
    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: '页面加载于' + new Date().toLocaleString()
        }
    });
    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: true
        }
    });
    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [
                { text: 'to learn javascript' },
                { text: 'to learn html' },
                { text: 'to learn css'}
            ]
        }
    });
    app4.todos.push({text: 'to learn a new skill'});
    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: 'Hello Vue js!'
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('');
            }
        }
    });
    var app6 = new Vue({
        el: '#app-6',
        data: {
            message: 'Hello Vue!'
        }
    });
    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
    });
    var app7 = new Vue({
        el: '#app-7',
        data: {
            groceryList: [
                { id: 0, text: 'apple' },
                { id: 1, text: 'banana' },
                { id: 2, text: 'peach' }
            ]
        }
    });
</script>
</body>
</html>