.color-1 {
    background: #435a6b;
}

.color-2 {
    background: #f39c12;
}

.color-3 {
    background: #2ac56c;
}

.color-4 {
    background: #0e83cd;
}

.color-5 {
    background: #cd4436;
}

.color-6 {
    background: #f19f0f;
}

.color-7 {
    background: #3fa46a;
}

.color-8 {
    background: #ecf0f1;
}

.color-9 {
    background: #9e487f;
}

.color-10 {
    background: #16a085;
}

.color-11 {
    background: #aab7b7;
}
