html, body {
	width: 100%;
	margin: 0;
	padding: 0;
}

.container {
	width: 350px;
	height: 350px
	margin: 0 auto;
}

.cal-container {
	position: relative;
	margin: 50px;
}

.ipt-calendar {
	width: 150px;
	height: 30px;
}

.e-table {
	position: absolute;
	background-color: #eee;
	border-collapse: collapse;
	font-size: 14px;
	z-index: 100;
}

.e-table tr {
	height: 40px;
	width: 350px;
}

.e-table tr:nth-child(2) {
	height: 30px;
	line-height: 30px;
}

.e-table td {
	width: 40px;
	text-align: center;
	color: #999;
}

.e-table td.active {
	background-color: #3385ff;
	border-radius: 5px;
	color: #fff;
}

.has-num:hover {
	border-radius: 5px;
	background-color: #669966;
	color: #fff;
	cursor: pointer;
}

.prev-month {
	cursor: pointer;
}

.next-month {
	cursor: pointer;
}

