*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
}
img{
    border: none;
    outline: none;
}

span,a{
    display: inline-block;
}
body,html,.container,.header,.content,.footer{
    width: 100%;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    height: 1053px;
    background: url("../images/background.png") no-repeat;
    /*background-size: 100% 100%;*/
    min-width: 1308px;
}
body a:hover{
    text-decoration: underline;
}
.container{
    height: 1062px;
}
.header-in,.content-in,.footer-in{
    width: 90%;
    margin: 0 auto;
}
.content{
    height: auto;
}
.content-in{
    background-color: #fff;
    height: 845px;
}
.footer{
    font-size: 16px;
    color: #fff;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: 40px;
}
