/*公共类*/
.w-2340{
    width: 2340px;
}
.w-1490{
    width: 1490px;
}
.w-70{
    width: 70px;
}
.w-140{
    width: 140px;
}
.w-218{
    width: 218px;
}
.w-630{
    width: 630px;
}
.ovf-hide{
    overflow: hidden;
}
.p-r{
    position: relative;
}
.m-t-210{
    margin-top: 210px;
}
.f-l{
    float: left;
}
.f-r{
    float: right;
}
