
.content,.content-in{
    height: auto;
}
.content-in{
    background-color: #fff;
}
.notice{
    width: 100%;
    height: 50px;
    background-color: #f6f6f6;
    border-top: 1px solid #f6f6f6;
}
.notice-in{
    width: 95%;
    height:30px;
    margin: 10px auto;
}
.notice-in-left{
    width: 63%;
    display: inline-block;
    height: 100%;
}
.notice-in-left span{
    font-size: 14px;
    height: 100%;
    line-height: 30px;
    vertical-align:top;
}
.title-notice{
    color: #0468ff;
    padding-left: 20px;
    background: url("../images/speaker.png") no-repeat 0 7px;
    line-height: 30px;
}

.content-notice{
    color: #515151;
    line-height:30px;
    font-size:14px;
}
.date-notice{
    color: #0c0c0c;
}
.ul-notice
{
    display:inline-block;
    position:absolute;
    height:90px;
    list-style:none;
    top:0px;
    left:90px;
}
.ul-notice li
{
    display:block;
    height:30px;
    width:500px;
}
.notice-in-right{
    width: 35%;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}
.search{
    height: 100%;
    width: 80%;
    border-radius: 50px;
    background: url("../images/search.png") no-repeat #fff 4px 6px;
}
.search-ipt{
    width:60%;
    height: 30px;
    border: none;
    outline: none;
    margin-left: 25px;
    float: left;
    line-height: 30px;
}
.search-btn{
    height: 100%;
    width: 80px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    border: none;
    outline: none;
    float: right;
    border-radius: 50px;
    background-color: #0167cc;
    color: #fff;
}
.main{
    width: 100%;
    height: auto;
    padding: 30px 0 20px 0;
}
.main-in{
    width: 95%;
    margin: 0 auto;
    height: auto;
}
.main-left{
    width: 55%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.main-right{
    width: 468px;
    margin-left: 20px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.left-one,.left-two,.left-three,.left-four,.right-one,.right-two,.right-three,.right-four{
    width: 100%;
    clear: both;
}

.left-one-left{
    width: 592px;
    height: 260px;
    display: inline-block;
}

.news-span{
    font-size: 16px;
}
.news
{
    width:1776px;
    height:100%;
    position:absolute;
    list-style:none;
    font-size:0;
    top:0;
    left:0;
}
.li-news{
    width: 296px;
    height: 100%;
    display:inline-block;
}
.news a
{
    width:80%;
}
.more
{
    position:absolute;
    right:0;
    top:0px;
    font-size:14px;
    color:#333;
}
.left-two{
    height: 40px;
}
.left-two span{
    height: 40px;
}
.left-two-title{
    width: 110px;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    background-color: #fc6902;
    text-align: center;
}
.left-two-content{
    color: #333;
    font-size: 16px;
    line-height: 40px;
    margin-left: 15px;
    vertical-align:top;
}
.left-three{
    height: 175px;
    border: 1px solid #dfdfdf;
    margin-top: 30px;
}
.left-three-title{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #dfdfdf;
    background-color: #f6f6f6;
}
.left-three-title span{
    font-size: 18px;
    color: #fc6902;
    line-height: 40px;
    margin-left: 15px;
    font-weight: bold;
}
.left-three-content{
    width: 100%;
}
.left-three-content-in{
    width: 95%;
    height: 130px;
    margin: 10px auto;
    line-height: 30px;
    color: #333;
}
.left-three-content-in>span{
    color: #000;
}
.left-three-content-in>span:first-child{
    margin-right: 30px;
}
.working{
    width: 100%;
    height: 30px;
    list-style: none;
}
.working li{
    width: 25%;
    height: 100%;
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    color: #666;
}
.working li:first-child{
    width: 19%;
    color: #525252;
}
.working li span{
    color: #111;
}
.left-four{
    margin-top: 20px;
}
.left-four-left,.left-four-right{
    width: 300px;
    height: 170px;
    display: inline-block;
}
.left-four-left{
+float: left;
}
.left-four-right{
    float: right;
}
.common-title{
    height: 30px;
    width: 100%;
    color: #fd5f04;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px dotted #010101;
    background: url("../images/arrow_right.png") no-repeat 0 3px;
}
.common-title span{
    margin-left: 25px;
}
.left-four-right-content,.left-four-left-content{
    height: 140px;
    width: 100%;
}
.list{
    height: 100%;
    width: 100%;
    list-style:none;
}
.list li{
    height: 35px;
    width: 100%;
    line-height: 35px;
    font-size: 14px;
    color: #454545;
}
.list span,.list a{
    color: #737373;
+float: left;
}
.list a
{
    width:230px;
}
.notice-in-left a
{
    width:350px;
}
.list a:before
{
    content:".";
    width:10px;
    height:30px;
    display:inline-block;
+display:inline;
    margin:0;
    padding:0;
    line-height:30px;
}
span.f-r{
    float: right;
}
.right-one{
    width: 100%;
    height: 87px;
    overflow: hidden;
    position: relative;
}
.banner{
    position: absolute;
    list-style: none;
    left: 0px;
    top: 0;
}
.banner li{
    float: left;
}
.ul-banner{
    height: 87px;
    left: 0px;
}
.banner-select{
    width: auto;
    height: 15px;
    position: absolute;
    right: 0;
    bottom: 5px;
}
.banner-select span{
    width: 14px;
    margin-left: 1px;
    height: 100%;
    background-color: #092d47;
    color: #7a9eb8;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    filter: Alpha(opacity=30);
    opacity:0.3;
}
.banner-select span:hover{
    background-color: #03111c;
    filter: Alpha(opacity=60);
    opacity:0.6;
}
span.active{
    background-color: #03111c;
    filter: Alpha(opacity=60);
    opacity:0.6;
}
.right-two{
    width: 100%;
    height: 170px;
    margin-top: 30px;
}
ul.ul-arrow{
    /*list-style-image: url("../images/li-arrow.png");*/
+list-style-image:none;
    list-style:none;
}
ul.ul-arrow li a:before
{
    content:url("../images/li-arrow.png");
    width:15px;
    height:15px;
    display:inline-block;
    margin:0;
    margin-top:5px;
    padding:0;
}
.right-two-title{
    width: 100%;
    height: 36px;
    background-color: #f0f4f7;
    margin-bottom: 10px;
}
.right-two-title span{
    width: 90px;
    height: 100%;
    color: #ffffff;
    background-color: #fc6902;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
}
.right-three{
    width: 100%;
    margin-top: 37px;
}
.right-three-title{
    margin-bottom: 10px;
}
.right-four{
    width: 100%;
    margin-top: 22px;
}
.right-four-title{
    margin-bottom: 20px;
}
.right-four-content{
    width: 100%;
    height: auto;
}
.right-four-content-left,.right-four-content-right{
    width: 49%;
    height: 96px;
    display: inline-block;
}
.right-four-content-left{
    float: left;
}
.right-four-content-right{
    float: right;
}
.person-info{
    display: inline-block;
    vertical-align: top;
    width: 116px;
}
.person-info span{
    font-size: 14px;
    height: 30px;
    width: 100%;
}
.right-four-name{
    color: #0033bb;
}
.right-four-access{
    color: #3f399b;
    line-height: 30px;
}
.right-four-info{
    color: #7d7d7d;
}
.footer{
    font-size: 16px;
    color: #fff;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: 40px;
}