.main-nav{
    background-color: #ffffff;
}
.left-nav-li{
    margin-bottom: 7px;
}
.left-nav-li:first-child{
    background: url("../images/lefttb1.png");
}
.left-nav-li:first-child + li{
    background: url("../images/lefttb2.png");
}
.left-nav-li:first-child + li + li{
    background: url("../images/lefttb3.png");
}
.left-nav-li:first-child + li + li + li{
    background: url("../images/lefttb4.png");
}
.left-nav-li:first-child + li + li + li + li{
    background: url("../images/lefttb5.png");
}
.left-nav-li:first-child + li + li + li + li + li{
    background: url("../images/lefttb6.png");
}
.left-nav-li:first-child + li + li + li + li + li + li{
    background: url("../images/lefttb7.png");
}
.left-nav-li span{
    color: #ffffff;
    margin-left: 80px;
}

.left-nav-li span{
    font-family: "华文行楷";
    font-size: 18px;
}
.left-nav-li.active span{
    font-family: "楷体";
    font-size: 20px;
}
.main-content-top{
    width: 840px;
    margin: 0 auto 10px;
    height: 40px;
    background-color: #ebebeb;
}
.main-content-top span{
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: #99a1c6;
    text-align: center;
    color: #ffffff;
}
