.main-in-left,.main-in-right{
    display: inline-block;
    height: 95%;
    vertical-align: top;
}
.main-in-left{
    width: 63%;
}
.main-in-right{
    width: 35%;
    margin-left: 15px;
}
.main-in-left-in{
    width: 730px;
    height: 100%;
    margin: 0 auto;
}
.main-left-in-subtitle,.main-top-subtitle{
    height: 41px;
    width: 100%;
    background-color: #ebebeb;
}
span.subtitle{
    width: 160px;
    height: 100%;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
    background-color: #fc6902;
}
.main-left-in-content{
    margin-top: 30px;
    width: 100%;
    height: 510px;
}
.service-list{
    width: 100%;
    height: 100%;
    list-style: none;
    font-size: 0;
}
.service-list li{
    width: 130px;
    height: 140px;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #f6f6f6;
    vertical-align: top;
    border-radius: 5px;

}
li.m-r-0{
    margin-right: 0;
}
.service-list li a{
    width: 100%;
    height: 100%;
    text-align: center;
}
.service-icon{
    width: 43px;
    height: 43px;
    display: block;
    margin: 30px auto;
}
.describe{
    display: block;
    margin: 20px auto;
    color: #5f5f5f;
    font-size: 14px;
}
.list{
    width: 100%;
    list-style: disc inside;
    margin-top: 20px;
}
.list li{
    height: 42px;
    width: 100%;
    line-height: 35px;
    font-size: 14px;
    color: #454545;
}
.list span,.list a{
    color: #737373;
}
.list a
{
    width:95%;
}
.main-right-bottom{
    margin-top: 50px;
}
.common-title{
    height: 30px;
    width: 100%;
    color: #fd5f04;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px dotted #010101;
    background: url("../images/arrow_right.png") no-repeat 0 3px;
}
.common-title span{
    margin-left: 25px;
}
.main-bottom-content{
    margin-top: 30px;
    width: 100%;
    height: 68px;
}
.link-ul{
    width: 100%;
    height: 100%;
    list-style: none;
    font-size: 0;
}
.link-ul li{
    width: 32%;
    height: 68px;
    display: inline-block;
    margin-left: 4px;
    background: url("../images/aa.png");
}
.link-ul li a{
    width: 100%;
    height: 100%;
    line-height: 68px;
    color: #fff;
    text-align: center;
    font-size: 16px;
}