/*中部*/
#location{ width: 1100px; height: 60px; border: 1px solid #ccc; margin: 0 auto; padding: 0; display: block;}
article{ background-color: #f1f2f7; width: 100%; margin: 0; padding: 5px 0 10px 0; display: block;}
article section.main{ border: 1px solid #ebebeb; background-color: #fff; width: 1100px; margin: 0 auto; padding: 0; display: block; }
article section.main section{ width: 96%; display: block; margin: 0 auto; padding: 0; }
article section.main section.section_spacer{margin: 0; padding: 0; width: 100%; display: inline-block; height: 30px;}
article section.main section.top{ padding: 0; height: 35px; }
article section.main section.top span{ text-align: center; font-weight: bold; margin: 0; padding: 0;display: block; width: 160px; height: 100%; line-height: 35px; background-color: #2186da; color: #ffffff; font-size: 16px;}
article section.main section.title{ padding: 18px 0; height: 24px;}
article section.main section.title span{ font-size: 24px; line-height: 24px; font-weight: bold; color: #333333;}
article section.main section.subtitle{ padding: 0; height: 24px;}
article section.main section.subtitle section.subtitle_left{ display: inline-block; float: left; margin: 0; padding: 0; width: 120px; height: 100%;}
article section.main section.subtitle section.subtitle_left span{ margin: 0; padding: 0; display: inline-block;font-size: 12px; color: #666666;}
article section.main section.subtitle section.subtitle_middle{ display: inline-block; float: left; margin: 0; padding: 0; width: 190px; height: 100%;}
article section.main section.subtitle section.subtitle_middle section.date_range{ display: none;  margin: 0 0 0 0px; padding: 0; width: 150px; height: 80px; border: 1px solid #f1b736; background-color: #fffaf2; position: absolute; border-radius: 3px;}
article section.main section.subtitle section.subtitle_middle section.date_range span{ line-height: 15px; margin: 10px 0 0 8px;}
article section.main section.subtitle section.subtitle_middle span{ margin: 0; padding: 0; display: inline-block;font-size: 12px; color: #666666;}
article section.main section.subtitle section.subtitle_right{ display: inline-block; float: left; margin: 0; padding: 0; width: 254px; height: 100%;}
article section.main section.subtitle section.subtitle_right span{ margin: 0; padding: 0; display: inline-block;font-size: 12px; color: #666666; cursor: pointer;}
article section.main section.process{ width: 92%; padding: 25px 20px 30px 20px; height: 88px; background-color: #f2f2f2;}
article section.main section.process section.process_content{ text-align: center; margin: 0; padding: 0; display: inline-block; float: left; width: 135px; height: 50px; }
article section.main section.process section.process_content section.process_img{ text-align: center; margin: 0; padding: 0; display: inline-block; width: 100%; height: 34px; }
article section.main section.process section.process_content section.process_img img{ margin: 5px 0 0 0;}
article section.main section.process section.process_content section.process_text{ text-align: center; margin: 0; padding: 0; display: inline-block; width: 100%; height: 34px;}
article section.main section.process section.process_content section.process_text span{ font-size: 14px;}
/*字体颜色选择*/
.current_red{ color: #df231b;}
.current_no{ color: #666666;}
/*背景图选择*/
.bg_red{background: url("../images/process_red.jpg") left 15px repeat-x;}
.bg_gray{background: url("../images/process_gray.jpg") left 15px repeat-x;}
article section.main section.detail{ height: 525px; padding: 0;}
article section.main section.detail p.title{ font-size: 24px; color: #333333;}
article section.main section.detail p.content{ font-size: 14px; color: #666666; line-height: 25px;}
article section.main section.submit{ min-height: 170px; padding: 0; border-top: 1px dotted #d6d6d6; width: 100%; text-align: center;}
article section.main section.submit section.button_spacer{ height: 35px; padding: 0; margin: 0px; display: block;}
article section.main section.submit button.join{ height: 55px; width: 200px; text-align: center; background-color: #2186da; color: #ffffff; font-size: 22px; border-radius: 3px; border: none; outline: none; cursor: pointer;}
article section.main section.submit button:hover{background-color: #ff6600;}
article section.main section.submit div.loginto{ margin: 20px auto; padding: 20px; width: 250px; height: 150px; border: 1px solid #CCCCCC; display: none;}
article section.main section.submit label{ font-size: 14px; color: #333333;}
article section.main section.submit a.a1{ font-size: 12px; color: #333333; text-decoration: none;}
article section.main section.submit a.a2{ font-size: 12px; color: #ff6600; text-decoration: none; padding-left: 20px;}
article section.main section.submit a:hover{ color: #ff6600; text-decoration: underline;}
article section.main section.submit button.b1{ display: inline-block; height: 30px; width: 100px; margin-top: 20px; border: none; outline: none; background-color: #2186da; color: #FFFFFF; border-radius: 2px; cursor: pointer;}
article section.main section.submit button.b1:hover{ background-color: #ff6600;}

/*底部*/
footer{margin: 0;}