html,body{margin: 0; padding: 0;}
/*头部*/
header{height: 100px;width: 1200px;margin: 0 auto;}
header img{ float: left; width: auto; height: 92px;}
header span.span_right{ float: right; display: inline-block; font-size: 12px; margin-top:10px; color: #c7c7c7;}
header a.login{float: right; display: inline-block; width: 26px;color: #008000; font-size: 12px; margin-top:10px; text-decoration: none;}
header a.register{float: right; display: inline-block; width: 26px;color: #f00; font-size: 12px; margin-top:10px; text-decoration: none;}
header a:hover{font-weight: bold;}
header span.span_left{ clear: both; font-size: 24px; color: #cccccc; font-weight: bold; display: inline-block; line-height: 20px; margin: 53px 0 0 0; padding: 0;}
header a.title{ clear: both; text-decoration: none; color: #666666; font-size: 24px; font-family: "黑体";display: inline-block; margin: 0; padding: 0;}
header a.title:hover{ text-decoration: underline;}
/*导航*/
nav{width: 100%; height: 49px; background-color: #2186da;margin: 0;display: block;}
nav div.nav_spacer{width: 100px; height: 49px;float: left;display: inline-block;}
nav ul.navigate{list-style: none;display: inline-block;margin: 0;padding: 0;}
nav ul.navigate li{display: inline-block;margin: 0 10px;float: left;width: auto;}
nav ul.navigate li a{ font-family: "黑体"; text-decoration: none; font-size: 16px;color: #fff;display: inline-block;line-height: 49px;padding: 0 10px;}
nav ul.navigate li a:hover{background-color: #1e75bc;}
/*隐藏的导航条*/
nav ul.service{list-style: none; display: none;margin: 0;padding: 0;background-color: #2186da;width: auto;height: 230px;position: absolute;}
nav ul.service li{display: list-item;margin: 0;padding: 0;clear: both;text-align: center;height: 35px;}
nav ul.service li a{color: #fff;font-size: 14px;width: 105px;}

nav ul.assess{list-style: none; display: none;margin: 0;padding: 0;background-color: #2186da;width: auto;height: 195px; position: absolute;}
nav ul.assess li{display: list-item;margin: 0;padding: 0;clear: both;text-align: center;height: 35px;}
nav ul.assess li a{color: #fff;font-size: 14px;width: 136px;}

nav ul.transfer{list-style: none; display: none;margin: 0;padding: 0;background-color: #2186da;width: auto;height: 195px; position: absolute;}
nav ul.transfer li{display: list-item;margin: 0;padding: 0;clear: both;text-align: center;height: 35px;}
nav ul.transfer li a{color: #fff;font-size: 14px;width: 136px;}

nav ul.property{list-style: none; display: none;margin: 0;padding: 0;background-color: #2186da;width: auto;height: 125px; position: absolute;}
nav ul.property li{display: list-item;margin: 0;padding: 0;clear: both;text-align: center;height: 35px;}
nav ul.property li a{color: #fff;font-size: 14px;width: 88px;}

nav ul.test{list-style: none; display: none;margin: 0;padding: 0;background-color: #2186da;width: auto;height: 160px; position: absolute;}
nav ul.test li{display: list-item;margin: 0;padding: 0;clear: both;text-align: center;height: 35px;}
nav ul.test li a{color: #fff;font-size: 14px;width: 88px;}
/*中部*/
.container_spacer1{width: 50px; height: 50px;}
.container_spacer2{width: 200px; height: 50px;margin: 0;display: block;float: left;}
#container{width: 1000px;display: inline-block;margin: auto;}

#container article.report{width: 250px;height: 330px;float: left; margin: 0; padding: 0;}
#container article.report strong{margin: 0; padding:0; display: inline-block; width: 100px; height: 24px; font-size: 16px; }
#container article.report section{ width: 230px; height: 190px; margin: 0; padding: 0px; border: 1px solid #ccc;}

#container article.achievements{width: 250px;height: 330px;float: left; margin: 0; padding: 0;}
#container article.achievements strong{margin: 0; padding:0; display: inline-block; width: 100px; height: 24px; font-size: 16px; }
#container article.achievements section{ width: 230px; height: 190px; margin: 0; padding: 0px; border: 1px solid #ccc;}

#container article.required{width: 250px;height: 330px;float: left; margin: 0; padding: 0;}
#container article.required strong{margin: 0; padding:0; display: inline-block; width: 100px; height: 24px; font-size: 16px; }
#container article.required section{ width: 230px; height: 190px; margin: 0; padding: 0px; border: 1px solid #ccc;}

#container article.technology{width: 250px;height: 330px;float: left; margin: 0; padding: 0;}
#container article.technology strong{margin: 0; padding:0; display: inline-block; width: 100px; height: 24px; font-size: 16px; }
#container article.technology section{ width: 230px; height: 190px; margin: 0; padding: 0px; border: 1px solid #ccc;}
/*底部*/
footer{ width: 100%; height: 250px; margin: 0; padding: 0; border-top: 5px solid #272424;background-color: #7b7f82;}
footer ul.ul_footer{ display: inline-block; margin: 0; padding: 0;  list-style: none;}
footer ul.ul_footer li{ display: inline-block; margin: 40px 0 0 0; padding: 0 10px;}
footer ul.ul_footer li a{text-decoration: none; color: #FFF;}
footer ul.ul_footer li a:hover{text-decoration: underline;}