*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
}
body,html{
    min-width: 1220px;
}
.container{
    width: 100%;
    height: auto;
}
.header,.header-in,.content,.footer,.footer-in{
    width: 100%;
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

