body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden
}

div,
video {
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}

div {
    -webkit-tap-highlight-color: transparent
}

.container {
    position: absolute;
    width: 7.32rem;
    height: 3.75rem;
    left: 50%;
    top: 50%;
    margin-left: -3.66rem;
    margin-top: -1.875rem;
    background-color: #fff
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.dis-none {
    display: none
}

@font-face {
    font-family: lianwenti;
    src: url(../font/tttgb.TTF) format('truetype');
    font-weight: 400;
    font-style: normal
}

.text {
    position: absolute;
    width: 100%;
    height: .5rem;
    line-height: .25rem;
    top: 50%;
    margin-top: -.25rem;
    left: 0;
    text-align: center;
    font-size: .24rem;
    font-family: lianwenti
}