*{
    margin:0;
    padding:0
}
.container{
    width: 730px;
    margin-left: 50px;
}
.map{
    position: absolute;
    width: 730px;
    height: 590px;
    top: 50px;
    border: 1px solid grey;
    overflow: hidden;
    left: 50px;
}